*{
    margin: 0;
    padding: 0;
}


.container{
    width: 80vw;
    margin: 0 auto;
}

/* time-control */

.time-control{
    background: #eee;
    height: 100vh;
}

.time-control input{
    font-size: 25px;
    height: 50px;
    transition: all .1s ease;
}
.time-control input:hover{
    cursor: pointer;
    background: rgb(255, 170, 73);
}
.time-control input:active{
    cursor: pointer;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.time-control__header{
    text-align: center;
    font-size: 40px;
}

.time-control__menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-items{
    display: flex;
    justify-content: center;
    height: 0px;
    transition: all .3s ease;
}
.menu-items_show{
    height: 50px;
}

.menu-item{
    width: 50%;
    height: 50px;
    border: none;
    background: rgb(100, 100, 100);
}
.menu-item_active{
    background: green;
}
.menu-item:first-child{
    border-right: 1px solid black;
}

.menu-show{
    background: rgb(138, 138, 138);
    border: none;
    height: 50px;
}

/* time-control__content */

.time-control__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

/* timer */
.timer__nums{
    display: flex;
    justify-content: center;
    
}

.timer__nums div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.timer__nums input{
    border: 1px solid rgb(124, 124, 124);
    height: 70px;
    width: 70px;
}

.num{
    text-align: center;
    font-size: 100px;
}

.timer__buttons{
    display: flex;
    justify-content: center;
}

.timer__buttons input{
    border: none;
    height: 40px;
    width: 150px;
    margin: 0 10px;
    border-radius: 5px;
    background: rgb(138, 138, 138);
}

.timer-alarm{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border: 1px solid #eee;
    width: 70vw;
    height: 70vh;
    transition: all .4s ease;
    transform: scale(0);
    
}

.timer-alarm__icon{
    width: 80px;
    
    
}

.timer-alarm__stop{
    margin-top: 40px;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 5px;
}

.timer-alarm_show{
    transform: scale(1);
}
.ringing-bell{
    animation: Ringing 1s ease-in-out infinite;
}

@keyframes Ringing{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(-45deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* stopwatch */
.stopwatch{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    background-color: white;
    padding-bottom: 15px;
    width: 600px;
    
}
.stopwatch-body{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url("./img/Stopwatch.jpg") no-repeat;
    background-size: cover;
}

.stopwatch-arrow{
    position: absolute;
    left: 24.5%;
    top: 37%;
    width: 50%;
    height: 50%;
}

.stopwatch-arrow::before{
    content: "";
    position: absolute;
    left: 48.5%;
    height: 48%;
    border: 3px solid red;
}

.stopwatch-time{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.stopwatch-buttons{
    display: flex;
    justify-content: center;
}
.stopwatch-buttons input{
    border: none;
    height: 40px;
    width: 150px;
    margin: 0 10px;
    border-radius: 5px;
    background: rgb(138, 138, 138);
}

.spin-arrow{
    animation: spin 10s linear infinite;
}

.stopwatch-intervals-header{
    text-align: center;
    font-size: 20px;
}
.stopwatch-intervals-list{
    width: 100%;
    height: 70px;
    overflow-y: scroll;
    margin: 15px auto 0;
}
.stopwatch-intervals-list li{
    font-size: 20px;
    text-align: center;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
/* Media */
@media (max-width: 480px){
    .container{
        width: 100vw;
    }
    .num{
        font-size: 50px;
    }
    .timer__buttons input{
        width: 100px;
    }

    .stopwatch{
        display: block;
    }
    .stopwatch-body{
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 340px){
    .timer__nums input{
        height: 30px;
        width: 30px;
        font-size: 25px;
    }

    

    .stopwatch-buttons input{
        font-size: 20px;
    }
    
}
@media (max-height: 600px){
    .stopwatch-body{
        width: 150px;
        height: 150px;
    }
    .stopwatch-buttons input{
        font-size: 20px;
    }
}

@media (max-height: 420px){
    .num{
        font-size: 30px;
    }
    .timer__buttons input{
        font-size: 15px;
    }
    .timer__nums input{
        height: 30px;
        width: 30px;
        font-size: 25px;
    }

    .stopwatch-body{
        width: 100px;
        height: 100px;
    }
    .stopwatch-buttons input{
        font-size: 15px;
    }
    .stopwatch-arrow::before{
        border: 1px solid red;
    }
}
@media (max-height: 310px){
    .time-control__header{
        font-size: 25px;
    }
    
}

.hide{
    display: none;
}